
body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#header {
	position: fixed;
	top: 0px;
	left : 0px;
	top: 0px;
	z-index: 99;
	border: none;
	background: #2F78B7;
	padding: 5px 5px 5px;
	outline: 0;
	width: 100%;
	height: 36px;
	text-align: left;
}

#progressDiv {
	position: fixed;
	z-index: 95;
	height: 70px;
	width: 70px;
	left: 720px;
	top: 120px;
	background-color: #FFFFFF;
	opacity: 0.8;
}

#caveatDiv {
	z-index: 95;
	width: 880px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	text-align: left;
	visibility: hidden;
}	

div span {
	height: 36px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 10px;
}
	
.header_1 {
	height: 36px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
.header_1:link    {color:white;}
.header_1:visited {color:white;}
.header_1:hover   {color:whitesmoke;}
.header_1:active  {color:white;}

#header_2 {
	font-style: italic;
}


#helpDiv {
	position: fixed;
	z-index: 90;
	height: 50px;
	width: 400px;
	left: 20px;
	top: 45px;
	background-color: rgb(255,255,255);
	color: #4376B2;
	font-weight: bolder;
	font-size: 20px;
}
	

.svgDiv {
	height: 200px;
	width: 10px;
	position: absolute;
	top: 70px;
	left : 20px;
	background-color: rgb(255,255,255);
	text-align: right;
	border: none;
}

#div2 {
	position: fixed;
	z-index: 88;
	left: 600px;
	top: 50px;
	height: 25px;
	border-style: none;
	text-align: center;
	background-color: rgb(255,255,255);
}

#infoDiv {
	z-index: 50;
	position: fixed;
	top: 20px;
	left : 300px;
	height: 90%;
	width: 950px;
	text-align: left;
	padding: 20px;
	overflow: auto;
}

.no_und {
	text-decoration: none;
}

.head1 {
	font-size: 18px;
	font-weight: bold;
}
	
#tabs {
	left: 5px;
	width: 80%;
	height: 30px; 
	border-bottom: none;
	padding-right: 2px;
	margin-top: 28px;
}

#tabs li {
	width:30%; 
	text-align: center;
	float:left; 
	list-style:none; 
	border-top:1px solid #ccc; 
	border-left:1px solid #ccc; 
	border-right:1px solid #ccc; 
	margin-right:5px; 
	border-top-left-radius:3px;  
	border-top-right-radius:3px;
	outline:none;
}

#tabs li a {
	font-weight: bold; 
	color: #000;
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 8px; 
	display:block; 
	background: #FFF;
	border-top-left-radius:3px; 
	border-top-right-radius:3px; 
	text-decoration:none;
	outline:none;
	border-bottom: 5px solid #fff;
}

#tabs li a.inactive{
	padding-top:5px;
	padding-bottom:8px;
	padding-left: 8px;
	padding-right: 8px;
	color:#555;
	background: #ddd;
	outline:none;
	border-bottom: 1px solid #ccc;
}

#tabs li a:hover, #tabs li a.inactive:hover {
	color: #2F78B7;
	outline:none;
}


#tabbox {
	position: absolute;
	width:100%; 
	left: 0px;
	top: 100px;
	height: 60px;
	border-bottom: 3px double #ccc;
}

#contentbox {
	position: absolute;
	width:100%; 
	left: 0px;
	top: 80px;
	border: none;
}

.tableHolder {
	clear: both;           
	width: 93%; 
	text-align:left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
	
.ttip {
  position: relative;
  display: inline-block;
}

.ttip .ttiptext {
	font-size: 14px;
	font-weight: normal;
	fill: none;
	color: #000;
	visibility: hidden;
	width: 150px;
	background-color: #E9EFF4;
	text-align: center;
	padding: 5px  0 ;
	border-radius: 6px;
	position: absolute;
	top: -5px;
	left: 105%;
	z-index: 1;
}

.ttip:hover .ttiptext {
  visibility: visible;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.boxHighlight {
	fill: rgb(233,239,244);
	stroke: rgb(47,120,183);
	stroke-width: 3;
}

.svgText {
	font-size:18px;
	stroke: none;
}

.annotationShown {
	font-size: 8px;
	stroke: none;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: rgb(0, 0, 63);
	stroke: none;
	visibility: visible;
	pointer-events: none;
}

.annotationHidden {
	visibility: hidden;
}

body {
	margin-right: 60px;
}

.zoomer {
	transform: scale(1);
	transition: all 300ms;
}

.zoomer:hover {
  transform: scale(1.2);
}

svg.downloader {
	vertical-align: text-top;
	height: 20px;
	width: 20px;
}

select.downloader {
	cursor: pointer;
	border-style: none;
	color: rgb(67,118,278);
	background-color: white;
	font: 18px Arial, sans-serif;
}

select.downloader:focus {
	outline: none;
	box-shadow: none;
}