.boxHighlight {
	fill: rgb(233,239,244);
}

.svgText {
	font-size:18px;
	stroke: none;
}

.annotationShown {
	font-size: 8px;
	stroke: none;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: black;
	visibility: visible;
}

.annotationHidden {
	visibility: hidden;
}

body {
	margin: 00px;
}