.boxHighlight {
	fill: rgb(233,239,244);
	stroke: rgb(47,120,183);
	stroke-width: 3;
}

.svgText {
	font-size:18px;
	stroke: none;
}

.annotationShown {
	font-size: 8px;
	stroke: none;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: rgb(0, 0, 63);
	stroke: none;
	visibility: visible;
}

.annotationHidden {
	visibility: hidden;
}

body {
	margin-right: 60px;
}