.boxHighlight {
	fill: rgb(255,239,207);
	stroke: rgb(207,31,31);
	stroke-width: 3;
}

.svgText {
	font-size:18px;
	stroke: none;
}

.annotationShown {
	font-size: 8px;
	stroke: none;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: black;
	visibility: visible;
}

.annotationHidden {
	visibility: hidden;
}