
#headerDiv {
	position: fixed;
	top: 0px;
	left : 0px;
	top: 0px;
	z-index: 99;
	border: none;
	background: #2F78B7;
	padding: 5px 5px 5px;
	outline: 0;
	width: 100%;
	height: 36px;
	text-align: left;
}

#progressDiv {
	position: fixed;
	z-index: 95;
	height: 70px;
	width: 70px;
	left: 720px;
	top: 120px;
	background-color: #FFFFFF;
	opacity: 0.8;
}

.header_1 {
	height: 36px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
.header_1:link    {color:white;}
.header_1:visited {color:white;}
.header_1:hover   {color:whitesmoke;}
.header_1:active  {color:white;}

.header_2 {
	height: 36px;
	font-style: italic;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.headPath {
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: 24px;
}

.details {
	position: fixed;
	top: 50px;
	left : 0px;
	border: none;
	background: #fff;
	padding: 25px 25px 25px;
	width: 450px;
	height: auto;
	text-align: left;
}
	
.tableHeader {
	font-family: monospace, monospace;
	text-anchor: middle;
	alignment-baseline: top;
	stroke: #000;
	fill: #000;
}


.dp {
	font-family: monospace, monospace;
	text-anchor: middle;
	alignment-baseline: bottom;
	stroke: none;
	fill: #000;
	font-size: 14px;
}

.tips {
	font-family: monospace, monospace;
	text-anchor: left;
	alignment-baseline: bottom;
	stroke: none;
	fill: #444;
	font-size: 13px;
}

.tipBox {
	fill: #eee;
}


.tipsHidden {
	visibility: hidden;
}

.labelDefault {
	font-family: monospace, monospace;
	text-anchor: middle;
	alignment-baseline: bottom;
	stroke: none;
	fill: #000;
	font-size: 14px;
	cursor: pointer;
}

.labelHot {
	fill: #C30;
	stroke: #C30;
	font-size: 18px;
}

.labelLinked  {
	fill: #2F78B7;
	font-size: 16px;
}

.arcDefault {
	fill: none;
	stroke: #AAA;
	stroke-width: 1;
	cursor: pointer;
}

.checkV {
	visibility: visible;
	fill: white;
	stroke: black;
	stroke-width: 2;
	cursor: pointer;
}

.checkI {
	visibility: hidden;
	cursor: pointer;
}

.logo {
	fill: none;
	stroke: #2F78B7;
	stroke-width: 1.5;
	cursor: pointer;
}

.linkbox {
	stroke: none;
	cursor: pointer;
}

.arcPale {
	fill: none;
	stroke: #bcd;
	stroke-width: 0.25;
}

.arcHot {
	fill: none;
	stroke: #2F78B7;
	stroke-width: 4;
}
.arcVeryHot {
	fill: none;
	stroke: #B7382F;
	stroke-width: 7;
}

.nodeDefault {
	/* cursor: pointer; */
}

.rxnArrow {
	font-size: 48px;
}

li {
	  text-align: left;
}

td {
	  text-align: center;
}

.arcGraph {
   display: inline-block;
	position: absolute;
	top: 50px;
	left : 500px;
	width: auto;
	border: none;
	background: #FFF;
	padding: 5px 5px 5px;
	text-align: left;
}

.svgGraph {
  display: inline-block;
  position: absolute;
  vertical-align: top;
}
