
#headerDiv {
	position: fixed;
	top: 0px;
	left : 0px;
	top: 0px;
	/*z-index: 99;*/
	border: none;
	background: #2F78B7;
	padding: 5px 5px 5px;
	outline: 0;
	width: 100%;
	height: 36px;
	text-align: left;
	z-index: 90;
}

#progressDiv {
	position: fixed;
	padding-left: 50px;
	padding-right: 50px;
	z-index: 95;
	height: 90%;
	width: 90%;
	left: 0px;
	top: 50px;
	background-color: #FFF;
	opacity: 1.0;
	font-family: Helvetica, sans-serif;
}

.header_1 {
	height: 36px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
.header_1:link    {color:white;}
.header_1:visited {color:white;}
.header_1:hover   {color:#ace;}
.header_1:active  {color:white;}

.header_2 {
	height: 36px;
	font-style: italic;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.headPath {
	height: 36px;
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-left: 24px;
}

.navLi {
	
}

.details {
	position: fixed;
	top: 50px;
	left : 0px;
	border: none;
	background: #fff;
	padding: 25px 25px 25px;
	width: 450px;
	height: auto;
	text-align: left;
	font-family: Helvetica, sans-serif;
}
	
.pathPage {
	font-family: Helvetica, sans-serif;
}


.tableHeader {
	font-family: monospace, monospace;
	text-anchor: middle;
	alignment-baseline: top;
	stroke: #000;
	fill: #000;
}


.dp {
	font-family: monospace, monospace;
	text-anchor: middle;
	alignment-baseline: bottom;
	stroke: none;
	fill: #000;
	font-size: 14px;
}

.tips {
	font-family: Helvetica, sans-serif;
	text-anchor: left;
	alignment-baseline: bottom;
	stroke: none;
	fill: #555;
	font-size: 13px;
}

.tipBox {
	fill: #fff;
	stroke: #000;
}


.tipsHidden {
	visibility: hidden;
}

.labelDefault {
	font-family: monospace, monospace;
	text-anchor: middle;
	alignment-baseline: bottom;
	stroke: none;
	fill: #000;
	font-size: 14px;
	cursor: pointer;
}

.labelHot {
	fill: #C30;
	stroke: #C30;
	font-size: 18px;
}

.labelLinked  {
	fill: #2F78B7;
	font-size: 16px;
}

.arcDefault {
	fill: none;
	stroke: #AAA;
	stroke-width: 1;
	cursor: pointer;
}

.checkV {
	visibility: visible;
	fill: white;
	stroke: black;
	stroke-width: 2;
	cursor: pointer;
}

.checkI {
	visibility: hidden;
	cursor: pointer;
}

.logo {
	fill: none;
	stroke: #2F78B7;
	stroke-width: 1.5;
	cursor: pointer;
}

.linkbox {
	stroke: none;
	cursor: pointer;
}

.arcPale {
	fill: none;
	stroke: #bcd;
	stroke-width: 0.25;
}

.arcHot {
	fill: none;
	stroke: #2F78B7;
	stroke-width: 4;
}
.arcVeryHot {
	fill: none;
	stroke: #B7382F;
	stroke-width: 7;
}

.nodeDefault {
	/* cursor: pointer; */
}

.rxnArrow {
	font-size: 48px;
}


td {
	  text-align: center;
}

.arcGraph {
   display: inline-block;
	position: absolute;
	top: 50px;
	left : 500px;
	width: auto;
	border: none;
	background: #FFF;
	padding: 5px 5px 5px;
	text-align: left;
}

.bargraph1 {
	width: 300px;
	height: 250px;
	margin: 32px;
	fill: #2F78B7;
	stroke: #00538B;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}


ul { 
	text-align: left; 
}


#navDiv {
	position: fixed;
	display: inline-flex;
	top:0px;
	right : 0px;
	border: none;
	padding-top: 10px;
	font-family: Helvetica, sans-serif;	
	/* background: rgba(255, 165, 0, 0.0); */
	color: #fff;
	cursor: pointer;
	pointer-events: none;
	z-index: 95;
}

.navSpan {
	padding-left: 15px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	pointer-events: auto;
}

.navSpan:hover, .contentElement:hover {
  color: #ace;
}

.inactive {
	opacity: 20%;
	pointer-events: none;
}

.navContent {
	visibility: hidden; 
 	list-style-type: none;
	display: block;
	margin: 0px;
	background: #2F78B7;
	height: auto;
	padding: 20px;
	color: #fff;
	pointer-events: auto;
}

.navDown {
	font-size: 20px;
	color: #fff;
	text-align: center;
	cursor: context-menu;
}

.navDown:hover .navContent {
	/* padding: 20px; */
	visibility: visible;
	/* background: #2F78B7; */
	/* color: #ace; */
	/* height: auto; */
}
