.DS_Store
notes
prepare_N-tree.sh
log/*.txt
log/*.log
export/
data/*.lst
data/*.zip
data/fully_determined/
data/def/
data/und/
data/gct/
data/svg/
data/bak/
model/bak/
model/nodes/
portal/wtf.php
portal/api/paths/getpath.php
portal/api/paths/getpathD3.php
portal/api/.htaccess

